/* * {
    margin: 0px;
    padding: 0px;
    border: 1px solid indigo;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
} */


body {
    background-color: #eee;
}
#title-part {
    color: yellowgreen;
}
.capital {
    font-weight: bolder;
    font-size: 24px;
}
h1, h2 {
    text-align: center;
}
section.container {
    background-color: #fff;
    border: 10px solid indigo;
    padding: 20px;
    /* width vs max-width: Check resizing */
    max-width: 800px;
    /* margin: margin-top margin-right margin-bottom margin-left */
    margin: 0 auto;
    box-shadow: 10px 10px 20px rgba(0,0,0,0.3);
}
